html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem;
    text-align: center;
    margin: 30px;
}

.score{
    margin-bottom: 40px;
    font-size: 2rem;
}

.square {
    min-width: 80px;
    min-height: 80px;
    text-align: center;
    font-size: 6rem;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.border-right-bottom {
    border-right: 6px solid #131212;
    border-bottom: 6px solid #131212;
}

.border-right {
    border-right: 6px solid #131212;
}

.border-bottom {
    border-bottom: 6px solid #131212;
}

.reset-button {
    width: max-content;
    margin: 40px auto 10px auto;
    padding: 5px;
}
